/* app css stylesheet */

body {
    padding-top: 20px;
}

.container {
    width: 800px;
}

.container table {
    margin: 0 auto;
}

td {
    background: #dcdcdc;
    height: 23px;
    width: 25px;
    padding: 2px 2px 2px 2px;
    border: 1px solid white;
}

.cell {
    background: black;
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 0px 0px 20px;
}
